<h1> User Index </h1>

<%= link_to "Home", root_path %> 

<hr>
<div>
    <% @users.each do |user| %>
        <%= link_to "#{user.first_name} #{user.last_name}", user_path(user.id) %> <br>
    <% end %>
</div>